################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ReadExcelPOC/QQQidian/bin/Debug/netcoreapp2.2/logFile/nlog-API-2019-09-23.log
