################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ReadExcelPOC/QQQidian/bin/Debug/netcoreapp2.2/logFile/nlog-API-2019-09-23.log
/ReadExcelPOC/QQQidian/bin/Debug/netcoreapp2.2/logFile/nlog-API-2019-09-19.log
/ReadExcelPOC/QQQidian/bin/Debug/netcoreapp2.2/logFile/nlog-all-2019-09-23.log
/ReadExcelPOC/QQQidian/bin/Debug/netcoreapp2.2/logFile/nlog-all-2019-09-19.log
/ReadExcelPOC/.vs/Qidian/v15/Server/sqlite3/storage.ide-wal
/ReadExcelPOC/.vs/Qidian/v15/Server/sqlite3/storage.ide-shm
/ReadExcelPOC/.vs/Qidian/v15/Server/sqlite3/storage.ide
/ReadExcelPOC/.vs/Qidian/v15/Server/sqlite3/db.lock
